body {
    text-align: center;
    background-color: black;
    color:aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter 200;   
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: slategray;
    border-radius: 5ch;
}
li{
    display: flex;
    flex-direction: row;
    text-align: center;  
    justify-content: center ;
    padding: 10px;
}
a { 
    display: flex;
    flex-direction: row;
    text-align: center;
    color:aliceblue;
    text-decoration: none;
    padding: 0 45px 0 0;
    background-color:darkslategrey;
    padding: 10px; 
    border-radius: 5ch;
}

main {
    background-color: darkslategray;
    border-radius: 5ch;

}

select {
    appearance: none;
    border-style: hidden;
    background-color: rgb(23, 22, 22);
    width: 300px;
    height: 50px;
    border-radius: 2ch;
    color: white;
    text-align: center;
    font-size: large;

    
}