#titleOfPage {
    background-color: rgb(45, 76, 76);
    box-shadow: 5px 5px 15px black;
    border: hidden;
    margin: 0 25% 0 25%;
    padding: 0 20px 0 20px;
    border-radius: 10px 10px 0 0;
    font-family:cursive;
    text-align: center;
    color: goldenrod;
}

#demoNavMain {
    background-color: rgb(68, 114, 114);
    box-shadow: 5px 5px 15px black;
    padding: 10px 10px 10px 10px;
    margin: 0 25% 0 25%;
    border-radius: 0 0 10px 10px;
    border: hidden;
}
.topLink {
    background-color: rgb(88, 150, 150);
    
    padding: 5px 5px 5px 5px;
    border: hidden;
    box-shadow: 0px 2px 15px black;
    border-radius: 10px;
    font-family:cursive;
    text-decoration: none;
    color: goldenrod;
}
body {
    background-color: darkslategrey;
    margin: 20px;}



   
