body {
    background-color: darkslategrey;
}

/*title and links*/

#pageTop {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#mainTitle {
    color: rgb(200, 200, 200);
    border: hidden;
    font-family:cursive;
    text-align: center;
    margin: 2% 0 0 0;
    background-color: rgb(79, 45, 57);
    border-radius: 5px 5px 0 0;
    padding: 5px; 
}

nav {
    background-color: rgb(137, 80, 100);
    text-align: center;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    }

#block1 {
    display:flex;
    flex-direction: column;
    margin: 0% 2% 5% 2%;   
}

#title1 {
    text-align: center;
    background-color: rgb(90, 141, 142);
    color: white;
    border-radius: 10px 10px 0 0;
    margin: 5% 0 0 0;
    padding: 10px;
}

#body1 {
    display:flex;
    flex-direction:row;
    Justify-content: space-around;
    align-items: center;
    background-color: rgb(119, 184, 186); 
    border-radius: 0 0 10px 10px;
    height: 200px;
}

#text1 {
    width: 300px;
    height: 100px;
    background-color: rgb(29, 170, 123);
    border-radius: 10px;
    box-shadow: 0 0 30px;
    color:white;
    text-align: center;
    font-size: x-large;
    font-family: cursive;
    border-style: hidden;

}

/*Classes*/

.button {
    Height: 60px;
    width: 100px;
    box-shadow: 0 0 30px;
    border-radius: 10px;
    background-color: lightseagreen;
    color: whitesmoke;
    transform: translateY(0) translateX(0) scale(1);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    border-style: hidden;
}

.button:hover {
    color: rgb(255, 238, 0);
    transition:ease-in-out 10px;
    transform: translateY(-10px) translateX(-10px) scale(1.02);
    box-shadow: 14px 14px 14px rgb(255, 238, 0)
}

.tile{
    display:flex;
    flex-direction: column;
    box-shadow: 0 0 30px;
    border-style: hidden; 
    transform: translateY(0) translateX(0) scale(1);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    ;
    
}

.tile:hover {
    color: red;
    transition:ease-in-out 10px;
    transform: translateY(-10px) translateX(-10px) scale(1.02);
    box-shadow: 14px 14px 14px rgba(0, 0, 0, 0.4)

}

.pic {
    height: 100px;
    width: 200px;
    border-radius: 10px 10px 0 0;
    border-style: hidden;
}

/*Battle Block*/

#block2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 2%;   
}

#title2 { 
    background-color: rgb(90, 141, 142);
    margin: 5px 0 0 0;
    border-radius: 10px 10px 0 0;
    padding: 10px; 
    color: white;
}

#body2 {
    display:flex;
    flex-direction:row;
    Justify-content: space-around;
    align-items: center;
    background-color: rgb(119, 184, 186); 
    border-radius: 0 0 10px 10px;
    height: 300px;
}

#battlePic {
    border-radius: 5px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 30px;
}

/*Split block w hover photos properties*/

.container {
    display: flex;
    justify-content: space-around;
    margin: 0 2% 0 2%  
}

.caption {
    text-align: center;
    flex-wrap: wrap;
    background-color: azure;
    margin: 0 0 0 0;
    border-radius: 0 0 10px 10px;
    height: 30px;
    width: 200px;
    border-style: hidden;
    font-family: cursive;
    padding: 10px 0 0 0;
}

.footerP {
    text-align: center;
    background-color: rgb(90, 141, 142);
    color: white;
    border-radius: 0 0 10px 10px;
    padding: 10px; 
    margin: 0; 
    font-family: cursive;
}



/*Micah Block*/

#block3 {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    margin: 2% 0 2% 0;
    width: 48%; 
}

#title3 {
    text-align: center;
    background-color: rgb(90, 141, 142);
    color: white;
    border-radius: 10px 10px 0 0;
    margin: 5% 0 0 0;
    padding: 10px; 
}

#body3 {
    display:flex;
    flex-direction:row;
    Justify-content: space-around;
    align-items: center;
    background-color: rgb(119, 184, 186); 
    border-radius: 0;
    height: 200px; 
}

/*Mochi Block*/

#block4 {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    margin: 2% 0 2% 0;
    width: 48%; 
}

#title4 {
    text-align: center;
    background-color: rgb(90, 141, 142);
    color: white;
    border-radius: 10px 10px 0 0;
    margin: 5% 0 0 0;
    padding: 10px; 
}

#body4 {
    display:flex;
    flex-direction:row;
    Justify-content: space-around;
    align-items: center;
    background-color: rgb(119, 184, 186); 
    border-radius: 0;
    height: 200px; 
}


/*Criminal Blocks*/

#block5 {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    margin: 2% 0 2% 0;
    width: 48%; 
}

#title5 {
    text-align: center;
    background-color: rgb(90, 141, 142);
    color: white;
    border-radius: 10px 10px 0 0;
    margin: 5% 0 0 0;
    padding: 10px;
}

#body5 {
    display:flex;
    flex-direction:row;
    Justify-content: space-around;
    align-items: center;
    background-color: rgb(119, 184, 186); 
    border-radius: 0 0 10px 10px;
    height: 200px; 
}

#text2 {
    white-space: pre-wrap;
    width: 300px;
    height: 150px;
    background-color: rgb(29, 170, 123);
    border-radius: 10px;
    box-shadow: 0 0 30px;
    color:white;
    font-size: 15px;
    font-family: cursive;
    border-style: hidden; 
    text-indent: 5px 5px 5px;
}

#block6 {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    margin: 2% 0 2% 0;
    width: 48%;
}

#title6 {
    text-align: center;
    background-color: rgb(90, 141, 142);
    color: white;
    border-radius: 10px 10px 0 0;
    margin: 5% 0 0 0;
    padding: 10px;
}

#body6 {
    display:flex;
    flex-direction:row;
    Justify-content: space-around;
    align-items: center;
    background-color: rgb(119, 184, 186); 
    border-radius: 0 0 10px 10px;
    height: 200px; 
}

#text3 {
    white-space: pre-wrap;
    width: 300px;
    height: 150px;
    background-color: rgb(29, 170, 123);
    border-radius: 10px;
    box-shadow: 0 0 30px;
    color:white;
    font-size: 15px;
    font-family: cursive;
    border-style: hidden; 
    text-indent: 5px 5px 5px;
}